.bubble-image-careers{
    position: relative;
	top: -250px;
	width: 100%;
	height: 180%;
	object-fit: cover;
}


/* jobs section */

.jobs-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 100px;
    gap: 20px;
}

.jobs-section h2{
    font-family: 'VisbyCF Heavy';
	font-size: 40px;
	color: black;
}

.jobs{
    display: flex;
    gap: 20px;
}

.jobs-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 70px 0;
}

.job-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 20px;
    background: #F5F5F5;
    gap: 50px;
    padding: 50px 0;
    height: 400px;
}

.job-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    gap: 20px;
}

.job-text h3{
    font-family: 'VisbyCF Bold';
	font-size: 30px;
	color: black;
}

.job-btn{
    color: white;
    border-radius: 8px;
    background: #101623;
    padding: 10px 40%;
}

.job-features{
    display: flex;
    gap: 10px;
}

.job-feature{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 20px;
}


/* work at hubinit section */

.work-at-hubinit{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 80px;
}

.work-at-hubinit h2{
    font-family: 'VisbyCF Bold';
	font-size: 30px;
	color: black;
}

.work-hubinit-info{
    display: flex;
    gap: 20px;
}

.work-hubinit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    max-width: 400px;
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.work-hubinit-container.show {
    opacity: 1;
    transform: translateX(0);
}

.work-hubinit-container h3{
    font-family: 'VisbyCF Bold';
	font-size: 20px;
	color: black;
    text-align: center;
    width: 70%;
    margin-top: 20px;
}

.work-hubinit-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(16, 22, 35, 0.20);
    border-radius: 20px;
    padding: 30px;
}

.work-hubinit-box img {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.work-hubinit-box img.show {
    opacity: 1;
    transform: translateY(0);
}

.img-planet {
    animation: rotate 6s infinite linear;
}

.img-balloon {
    animation: float 3s infinite ease-in-out;
}

.img-hands {
    animation: bounce 2s infinite ease-in-out;
}

@keyframes rotate {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@keyframes float {
    0%, 100% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-10px);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
}