@tailwind base;
@tailwind components;
@tailwind utilities;

/* Heavy Weight */
@font-face {
	font-family: 'VisbyCF Heavy';
	src: url('../fonts/VisbyCF/visbycf-heavy.woff2') format('woff2'),
		url('../fonts/VisbyCF/visbycf-heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: auto;
}

/* Bold Weight */
@font-face {
	font-family: 'VisbyCF Bold';
	src: url('../fonts/VisbyCF/visbycf-bold.woff2') format('woff2'),
		url('../fonts/VisbyCF/visbycf-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}

/* Semibold Weight */
@font-face {
	font-family: 'VisbyCF Semibold';
	src: url('../fonts/VisbyCF/visbycf-semibold.woff2') format('woff2'),
		url('../fonts/VisbyCF/visbycf-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

/* Medium Weight */
@font-face {
	font-family: 'VisbyCF Medium';
	src: url('../fonts/VisbyCF/visbycf-medium.woff2') format('woff2'),
		url('../fonts/VisbyCF/visbycf-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

/* 
Colour 
*/
:root {
	--accent-color: hsl(23, 100%, 52%);
	--secondary-light-orange: hsl(23, 100%, 72%);
	--secondary-dark-orange: hsl(23, 100%, 44%);
	--primary-color: hsl(224, 35%, 24%);
	--primary-secondary: hsl(252, 100%, 98%);
	--eerieblack: hsl(221, 37%, 10%);
}

/* 
Typography 
*/
body {
	font-family: 'VisbyCF Medium', ui-sans-serif, system-ui, -apple-system,
		BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	color: hsl(224, 35%, 24%);
	overflow-x: hidden;
}
.gradient {
	background-image: linear-gradient(
		to right,
		rgba(255, 0, 0, 0),
		rgba(255, 255, 255, 255)
	);
}
@layer utilities {
	.lightsilver {
		border-color: rgba(214, 214, 214, 1);
		color: rgba(214, 214, 214, 1);
	}

	.green {
		border-color: rgba(101, 191, 115, 1);
		color: rgba(101, 191, 115, 1);
	}

	.spaceodet {
		border-color: var(--primary-color);
		color: var(--primary-color);
	}
	.bgspaceodet {
		background-color: var(--primary-color);
	}
	button.bgspaceodet:hover {
		background-color: var(--primary-secondary);
		color: var(--primary-color);
	}
	button.bgspaceodet:active {
		background-color: var(--primary-secondary);
		color: var(--eerieblack);
	}
	a.bgspaceodet:hover {
		background-color: var(--primary-secondary);
		color: var(--primary-color);
	}
	a.bgspaceodet:active {
		background-color: var(--primary-secondary);
		color: var(--eerieblack);
		border-color: var(--eerieblack);
		border-radius: 2px;
	}
	.bgblazeorange {
		background-color: var(--accent-color);
	}
	button.bgblazeorange:hover {
		background-color: var(--secondary-light-orange);
	}
	button.bgblazeorange:active {
		background-color: var(--secondary-dark-orange);
	}

	.texteerieblack {
		color: var(--eerieblack);
	}

	.primarycolor {
		color: var(--primary-color);
	}

	.accentcolor {
		color: var(--accent-color);
	}
	.accent-border {
		border-color: var(--accent-color);
	}
	button.accent-border:hover {
		border-color: var(--secondary-light-orange);
		background-color: var(--primary-secondary);
		color: var(--secondary-light-orange);
	}
	button.accent-border:active{
		border-color: var(--secondary-dark-orange);
		background-color: var(--primary-secondary);
		color: var(--secondary-dark-orange);
	}
	.primaryfont {
		font-family: 'VisbyCF Bold';
	}
}

.cnnContents {
	width: 80%;
	font-size: 30px;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 50px;
	margin-bottom: 100px;
}

.marqueeStyle {
	animation: scrolling-left1 10s linear infinite;
}

.marqueeStyle2 {
	animation: scrolling-left2 10s linear infinite;
	animation-delay: 0s;
}

@keyframes scrolling-left1 {
	0% {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
}

@keyframes scrolling-left2 {
	0% {
		transform: translateX(0%);
		-webkit-transform: translateX(0%);
	}

	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
}


/*-----------normal style-----------*/

/* navigation bar */

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 40px;
}

.btn-contactUs {
  background-color: #FF6909;
  padding: 13px 30px;
  border-radius: 8px;
  color: white;
}

.mobile-menu-toggle {
  display: none;
}

.menu-icon,
.close-icon {
  display: none;
  width: 50px;
  cursor: pointer;
}

/* navigation bar mobile */

@media (max-width: 1000px) {
  .links {
    display: none;
  }

  .connect-btn {
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .mobile-menu a {
    margin-bottom: 15px;
    color: #101623;
    text-decoration: none;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .menu-icon {
    display: block;
  }

  .close-icon {
    display: none;
  }
}

.link-underline::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #101623;
    transition: width 0.3s ease;
}

.link-underline::after {
    width: 100%;
}

/* header */

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 80px;
	animation: fadeInLeft 1s ease-out;
	height: 90vh;
}

.text-header-container {
	display: flex;
	flex-direction: column;
	gap: 45px;
	align-items: flex-start;
	padding: 20px;
	width: 48%;
}

.text-header-container h1{
	line-height: 80px;
	font-size: 70px;
	font-family: 'VisbyCF Heavy';
	color: #101623;
}

.text-header-container p{
	font-size: 20px;
}

.header-text-color{
	color: #FF6909;
}

.text-header-container button{
	font-family: 'VisbyCF Bold';
	color: white;
	padding: 17px 50px;;
	background-color: #FF6909;
	border-radius: 10px;
}

.bubble-container {
    width: 606px;
    height: 505px;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 90%;
    border-bottom-right-radius: 80%;
    overflow: hidden;
    background: linear-gradient(to right, #f3f3f3, white);
    animation: fadeInRight 1s ease-out;
}

.bubble-image {
	position: relative;
	right: 100px;
	top: 50px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: rotate(-10deg);
}

/* fadeInLeft animation */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px); /* Start from left */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Move to original position */
    }
}

/* fadeInRight animation */
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px); /* Start from right */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Move to original position */
    }
}

/* video */

#myVideo {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

#overlay{
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	background-color: rgba(16, 22, 35, 0.90); 
	display: none;
}

.content-overlay{
	position: absolute;
	bottom: 100px;
	left: 50px;
	width: 45%;
}

.title-video{
	font-family: 'VisbyCF Heavy';
	color: white;
	font-size: 70px;
	margin-bottom: 10px;
	line-height: 80px;
}

#overlay p{
	color: white;
	font-size: 20px;
	margin: 0;
	font-weight: 500;
	line-height: 28px;
}

.btn-play{
    position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%);
	background-color: rgba(217, 217, 217, 0.20); 
	color: white; 
	padding: 30px 35px; 
	cursor: pointer; 
	border: none;
	border-radius: 100%;
	font-size: 25px;
}

.btn-container{
	display: flex;
	justify-content: center;
	padding: 25px 40px;
}

.btn-learnMore{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.322);
	font-weight: 800;
	text-align: center;
}


/* features section */

.features-section{
	display: flex;
	justify-content: space-around;
	padding: 80px 20px;
	align-items: flex-end;
}

.features-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
    width: 300px;
    text-align: center;
	opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.features-container.show {
    opacity: 1;
    transform: translateX(0);
}

.booble-features{
    border-top-right-radius: 50%;
    border-top-left-radius: 70%;
	border-bottom-left-radius: 50%;
    border-bottom-right-radius: 70%;
	height: 300px;
    overflow: hidden;
    background: linear-gradient(to bottom, #f3f3f3, white);
}

.rocket-img{
	position: relative;
	top: 30px;
	right: 20px;
	transform: rotate(10deg);
	animation: shake 1.5s ease-in-out infinite;
	width: 90%;
    height: auto;
}

.man-img {	
	position: relative;
	bottom: 30px;
	right: 30px;
    max-width: 350px;
    height: auto;
    animation: rotateInfinite 8s linear infinite;
}

.robot-img {
	position: relative;
	top: 50px;
	right: 50px;
    max-width: 400px;
    height: auto;
	animation: bounce 4s infinite ease-in-out; 
}

.features-container h2 {
    margin: 20px 0;
	font-family: 'VisbyCF Bold';
	font-size: 20px;
}

@keyframes rotateInfinite {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    0%, 100% {
		transform: translateY(10px);
	}
	50% {
		transform: translateY(-10px);
	}
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}

@media screen and (min-width: 768px) {
    .features-container {
        transition-delay: 0.5s;
    }

    .features-container:nth-child(2) {
        transition-delay: 1s;
    }

    .features-container:nth-child(3) {
        transition-delay: 1.5s;
    }
}


/* process section */

.process-section{
	display: flex;
	flex-direction: column;
	padding: 50px 0;
}

.process-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.process-title h2{
	font-family: 'VisbyCF Heavy';
	font-size: 50px;
	color: black;
}

.process-title p{
	width: 50%;
	text-align: center;
}

.process-main{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 100px 0;
}

.process-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 30%;
}

.container-info{
	display: flex;
	gap: 80px;
	align-items: flex-start;
	position: relative;
}

.circle-line {
    height: 100%;
    width: 0.5px;
    background-color: #00000054;
    position: absolute;
    left: 7%;
	top: 30%;
    transform: translateX(-50%);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
	transition: transform 0.3s ease;
}

.info h3{
	font-size: 25px;
	font-style: normal;
	font-weight: 600;
	color: black;
}

.circle-number {
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    border-radius: 50%;
	border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    font-size: 20px;
	font-weight: 600;
	z-index: 1;
}

.container-info:hover .circle-number {
    background-color: #FF6909;
	border: none;
	color: white;
}

.container-info:hover .info {
    transform: scale(1.1);
}

.btn-discover {
    padding: 12px 40px;
    background-color: #FF6909;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


/* slider section */

.slider-title{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.slider-title h2{
	font-size: 50px;
	color: black;
	font-family: 'VisbyCF Heavy';
}

.slider-container::before,
.slider-container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
    z-index: 1;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.685));
}

.slider-container::before {
    left: 0;
}

.slider-container::after {
    right: 0;
    transform: rotate(180deg);
}


.slider-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
	padding: 20px 50px;
}

.slider {
    display: flex;
	align-items: center;
	justify-content: flex-start;
    transition: transform 0.5s ease-in-out;
}

.slider-img {
    width: 30%;
    height: auto;
	margin-right: 20px;
}

.slider-container button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	padding: 10px 20px;
	border-radius: 5px;
	background-color: white;
    font-size: 24px;
    cursor: pointer;
	z-index: 5;
}

.prev {
    left: 10px;
	display: block;
}

.next {
    right: 10px;
	display: block;
}

.btn-caseStudies{
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.btn-caseStudies button{
	border-radius: 8px;
	background: #FF6909;
	color: white;
	padding: 10px 40px;
}


/* latest highlight section */

.highlights-section{
	display: flex;
	flex-direction: column;
}

.hidden{
	display: none;
}

.event-section {
	position: relative;
	background-color: #101623;
	width: 100%;
	margin-bottom: 50px;
}

.event-title {
	position: absolute;
	top: -35px;
	right: 100px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid rgba(16, 22, 35, 0.20);
	padding: 15px 30px;
	outline: none;
}

.event-info{
	display: flex;
	padding: 50px 80px;
	gap: 50px;
}

.event-img{
	width: 40%;
	border-radius: 10px;
}

.event-text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.event-text h3{
	color: white;
	font-family: 'VisbyCF Bold';
	font-size: 40px;
}

.event-text p{
	color: white;
	font-size: 20px;
}

.event-handle{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.event-btn{
	border-radius: 8px;
	background: #FF6909;
	color: white;
	padding: 15px 50px;
}

.event-time{
	display: flex;
	gap: 20px;
}

.highlights {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 30px;
	margin-bottom: 60px;
}

.highlights-title{
	font-size: 50px;
	color: black;
	font-family: 'VisbyCF Bold';
	margin-top: 120px;
	margin-bottom: 20px;
	text-align: center;
}

.big-image {
	position: relative;
	overflow: hidden;
	width: 80%;
	height: 400px;
	border-radius: 10px;
}

.big-image img {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease-in-out;
}

.big-image:hover img {
	transform: scale(1.1);
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	padding: 50px;
	cursor: pointer;
}

.overlay h2{
	font-family: 'VisbyCF Bold';
	font-size: 30px;
	width: 60%;
	margin-top: 10px;
}

.small-images {
	display: flex;
	justify-content: space-between;
	width: 80%;
	height: 300px;
	gap: 20px;
}

.small-image {
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: 10px;
	cursor: pointer;
}

.small-textContainer{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.text-small{
	margin-left: 10px;
}

.text-small h2{
	font-family: 'VisbyCF Bold';
	margin-top: 5px;
}

.small-image img {
	width: 100%;
	height: auto;
	transition: transform 0.3s ease-in-out;
}

.small-image:hover img {
	transform: scale(1.2);
}

.btn-allNews{
	display: flex;
	justify-content: center;
}

.btn-allNews button{
	border-radius: 8px;
	background: #FF6909;
	color: white;
	padding: 10px 40px;
}


/* let's connect section */

.connect-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px;
}

.team-image{
	width: 60%;
}

.team-image img{
	border-radius: 15px;
}

.text-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 30%;
	gap: 30px;
}

.text-container h2{
	font-family: 'VisbyCF Bold';
	font-size: 50px;
	color: black;
}

.text-container p{
	line-height: 28px;
}

.text-container button{
	border-radius: 8px;
	background: #FF6909;
	color: white;
	padding: 10px 40px;
}


/* footer */

/* left */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #101623; /* Set your desired background color */
	color: #fff; /* Set your desired text color */
	padding: 80px 60px;
}


.left-container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 50%;
}

.left-container img{
	width: 100px;
}

.separator {
	width: 1px;
	height: 120px;
	background: rgba(255, 255, 255, 0.20);
	margin: 0 30px;
}

.location{
	display: flex;
	gap: 100px;
}

.location h3{
	font-family: 'VisbyCF Bold';
	font-size: 20px;
}

/* right */

.right-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.follow-container {
	display: flex;
	align-items: center;
}

.follow-text {
	margin-right: 10px;
}

.social-icons {
	font-size: 24px;
}

.social-icons i {
	margin-right: 10px;
	color: #ffffff; 
}

.subscribe-container{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 60px;
}

.input-container {
	display: flex;
	align-items: center;
}

.custom-input {
	padding: 10px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	color: black;
}

.custom-button {
	padding: 10px 50px;
	background: #FF6909;
	color: white;
	border: 1px solid #FF6909;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}

.nav-bottom{
	display: flex;
	gap: 20px;
}


/* back to top button */

.back-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #101623;
	border-radius: 5px;
	box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 20px;
	margin: 0 5px 10px 0;
	overflow: visible;
	padding: 10px 20px;
}

.back-to-top:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.back-to-top:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.emoji {
	display: inline-block;
}

.back-to-top:hover .emoji {
	animation: bounce 0.5s infinite;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	transform: translateY(0);
	}
	40% {
	transform: translateY(-5px);
	}
	60% {
	transform: translateY(5px);
	}
}


/* responsive */

@media (max-width: 1000px) {
	.header-container{
		flex-direction: column-reverse;
	}

	.text-header-container{
		width: 100%;
	}
}